In [ ]:
import os
import glob
import pandas as pd

folder_path = "../../data/culture"
csv_files = glob.glob(os.path.join(folder_path, "*.csv"))

if not csv_files:
    raise FileNotFoundError(f"'{folder_path}'에 .csv 파일이 없습니다. 경로를 확인하세요.")

df_list = []
for file_path in csv_files:
    df = pd.read_csv(file_path)
    df_list.append(df)

combined_df = pd.concat(df_list, ignore_index=True)

:

In [10]:
filtered_df = combined_df[combined_df['CTPRVN_NM'] == "서울시"]

In [11]:
filtered_df = filtered_df.drop(columns=['BASE_YM', 'CTPRVN_CD', 'CTPRVN_NM'])

In [13]:
filtered_df.rename(columns={
    'SCRNG_MOVIE_CO': '상영영화수',
    'MOVIE_ADNC_CO': '영화관람객수',
    'EXPNDTR_PRICE': '지출금액',
    'POPLTN_PER_MOVIE_ADNC_CO': '인구당영화관람객수',
    'MOVIE_ADNC_CO_SCORE': '영화관람객수점수',
    'EXPNDTR_PRICE_SCORE': '지출금액점수',
    'GNRLZ_SCORE': '종합점수',
    'STDR_SCRNG_MOVIE_CO': '기준상영영화수',
    'STDR_MOVIE_ADNC_CO': '기준영화관람객수',
    'STDR_EXPNDTR_PRICE': '기준지출금액'
}, inplace=True)

In [14]:
filtered_df

,BASE_YEAR,BASE_MT,상영영화수,영화관람객수,지출금액,인구당영화관람객수,영화관람객수점수,지출금액점수,종합점수,기준상영영화수,기준영화관람객수,기준지출금액
1,2019,1,230,4465221,3.859530e+10,457.20759,179.81303,146.67747,163.24525,234.58333,2410351.25,2.554051e+10
19,2019,2,230,5385432,4.727472e+10,551.18530,216.77309,179.58275,198.17792,234.58333,2410351.25,2.554051e+10
37,2019,3,249,4106324,3.671240e+10,420.28999,165.29388,139.46562,152.37975,234.58333,2410351.25,2.554051e+10
55,2019,4,285,3568534,3.137817e+10,365.37070,143.69493,119.24223,131.46858,234.58333,2410351.25,2.554051e+10
73,2019,5,286,4603575,4.132350e+10,471.57814,185.46476,157.11370,171.28923,234.58333,2410351.25,2.554051e+10
...,...,...,...,...,...,...,...,...,...,...,...,...
1081,2024,1,196,1967825,1.965322e+10,209.69276,82.46908,77.73011,80.09960,234.58333,2410351.25,2.554051e+10
1099,2024,2,188,3017261,3.020844e+10,321.43984,126.41757,119.44657,122.93207,234.58333,2410351.25,2.554051e+10
1117,2024,3,223,3097700,3.260145e+10,330.07844,129.81501,128.93573,129.37537,234.58333,2410351.25,2.554051e+10
1135,2024,4,229,2212325,2.239872e+10,235.89908,92.77564,88.64600,90.71082,234.58333,2410351.25,2.554051e+10
1153,2024,5,198,2722206,2.745770e+10,290.46376,114.23513,108.74108,111.48810,234.58333,2410351.25,2.554051e+10

In [ ]:
filtered_df.to_csv("truncated_culture.csv", index=False)

In [22]:
import pandas as pd
file_path = "../../data/real_final_df_updated.csv"
df = pd.read_csv(file_path)

In [25]:
df["조회일"]

0       [Timestamp('2020-04-29 00:00:00'), Timestamp('...
1       [Timestamp('2020-04-29 00:00:00'), Timestamp('...
2       [Timestamp('2022-12-23 00:00:00'), Timestamp('...
3       [Timestamp('2020-04-29 00:00:00'), Timestamp('...
4       [Timestamp('2022-02-03 00:00:00'), Timestamp('...
                              ...
6645                   [Timestamp('2021-06-14 00:00:00')]
6646                   [Timestamp('2021-08-26 00:00:00')]
6647                   [Timestamp('2021-10-06 00:00:00')]
6648                   [Timestamp('2021-04-30 00:00:00')]
6649                   [Timestamp('2023-01-14 00:00:00')]
Name: 조회일, Length: 6650, dtype: object

In [26]:
import re
import pandas as pd

# 정규표현식: Timestamp('…') 안의 날짜 문자열 캡처
pattern = r"Timestamp\('([^']+)'\)"

def parse_date_list(val):
    # 문자열이 아니면 그대로 반환
    if not isinstance(val, str):
        return val
    # 'YYYY-MM-DD HH:MM:SS' 형태의 문자열만 추출
    date_strs = re.findall(pattern, val)
    # pandas.Timestamp → 'YYYY-MM-DD' 문자열로 변환
    return [pd.to_datetime(s).strftime('%Y-%m-%d') for s in date_strs]

# 적용
df['조회일'] = df['조회일'].apply(parse_date_list)

# 확인
print(df['조회일'].iloc[0])          # -> ['2020-10-28', ...]
print(type(df['조회일'].iloc[0][0])) # -> <class 'str'>

['2020-04-29', '2020-04-30', '2020-05-01', '2020-05-02', '2020-05-03', '2020-05-04', '2020-05-05', '2020-05-06', '2020-05-07', '2020-05-08', '2020-05-09', '2020-05-10', '2020-05-11', '2020-05-12', '2020-05-13', '2020-05-14', '2020-05-15', '2020-05-16', '2020-05-17', '2020-05-18', '2020-05-19', '2020-05-23', '2020-05-24', '2020-05-30', '2020-05-31', '2020-10-07', '2020-10-08', '2020-10-09', '2020-10-10', '2020-10-11', '2020-10-12', '2020-10-13', '2020-10-14', '2020-10-21', '2020-10-22', '2020-10-23', '2020-10-24', '2020-10-25', '2020-10-26', '2020-10-27', '2020-10-30', '2020-10-31', '2020-11-01', '2020-11-02', '2020-11-03', '2020-11-04', '2020-11-05', '2020-11-06', '2020-11-07', '2020-11-08', '2020-11-09', '2020-11-10', '2020-11-11', '2020-11-12', '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16', '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20', '2021-01-21', '2021-01-22', '2021-01-23', '2021-01-24', '2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28', '2021-01-29', '2021-01-30', '2021-01-31', '2021-02-01', '2021-02-02', '2021-02-04', '2021-02-07', '2021-02-09', '2021-02-10', '2021-02-12', '2021-02-14', '2021-02-16', '2021-02-17', '2021-02-19', '2021-02-20', '2021-02-21', '2021-02-22', '2021-02-25', '2021-02-27', '2021-03-01', '2021-03-02', '2021-03-03', '2021-03-04', '2021-03-05', '2021-03-06', '2021-03-07', '2021-03-08', '2021-03-09', '2021-03-10', '2021-03-11', '2021-03-12', '2021-03-13', '2021-03-14', '2021-03-15', '2021-03-16', '2021-03-17', '2021-03-18', '2021-03-19', '2021-03-20', '2021-03-21', '2021-03-22', '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26', '2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30', '2021-03-31', '2021-04-11', '2021-04-12', '2021-04-14', '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18', '2021-04-19', '2021-04-25', '2021-05-12', '2021-05-13', '2021-05-14', '2021-05-15', '2021-05-16', '2021-05-17', '2021-05-18', '2021-05-19', '2021-05-20', '2021-05-21', '2021-06-07', '2021-06-15', '2021-06-16', '2021-06-20', '2021-06-23', '2021-06-25', '2021-06-27', '2021-06-30', '2021-07-01', '2021-07-03', '2021-07-04', '2021-07-05', '2021-07-07', '2021-07-10', '2021-07-16', '2021-07-18', '2021-07-21', '2021-07-22', '2021-07-24', '2021-07-26', '2021-07-28', '2021-07-29', '2021-07-30', '2021-07-31', '2021-08-02', '2021-08-05', '2021-08-06', '2021-08-09', '2021-08-11', '2021-08-16', '2021-08-19', '2021-08-20', '2021-08-23', '2021-08-30', '2021-09-03', '2021-09-06', '2021-09-09', '2021-09-10', '2021-09-11', '2021-09-12', '2021-09-13', '2021-09-14', '2021-09-15', '2021-09-16', '2021-09-17', '2021-09-18', '2021-09-19', '2021-09-20', '2021-09-21', '2021-09-22', '2021-09-23', '2021-09-24', '2021-09-25', '2021-09-26', '2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30', '2021-10-01', '2021-10-02', '2021-10-03', '2021-10-04', '2021-10-05', '2021-10-06', '2021-10-07', '2021-10-08', '2021-10-09', '2021-10-10', '2021-10-11', '2021-10-12', '2021-10-13', '2021-10-14', '2021-10-15', '2021-10-16', '2021-10-17', '2021-10-18', '2021-10-19', '2021-10-21', '2021-10-23', '2021-10-24', '2021-10-25', '2021-10-30', '2021-10-31', '2021-11-01', '2021-11-05', '2021-11-08', '2021-11-13', '2021-11-15', '2021-11-22', '2021-11-26', '2021-11-29', '2021-12-08', '2021-12-09', '2021-12-10', '2021-12-13', '2021-12-14', '2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04', '2022-04-05', '2022-04-06', '2022-04-07', '2022-04-08', '2022-04-09', '2022-04-10', '2022-04-11', '2022-04-12', '2022-04-13', '2022-04-14', '2022-06-15', '2022-06-16', '2022-06-17', '2022-06-18', '2022-06-19', '2022-06-20', '2022-06-21', '2022-06-22', '2022-06-23', '2022-06-24', '2022-06-25', '2022-06-26', '2022-06-27', '2022-06-28', '2022-06-29', '2022-06-30', '2022-07-01', '2022-07-02', '2022-07-03', '2022-07-04', '2022-07-05', '2022-07-06', '2022-10-01', '2022-10-06', '2022-10-07', '2022-10-08', '2022-10-09', '2022-10-10', '2022-10-11', '2022-10-12', '2022-10-13', '2022-10-15', '2022-10-16', '2022-10-22', '2022-10-23', '2022-10-24', '2022-10-25', '2022-10-26', '2022-10-27', '2022-10-28', '2022-11-01', '2022-11-02', '2022-11-03', '2022-11-04', '2022-11-05', '2022-11-06', '2022-11-11', '2022-11-12', '2022-11-13', '2022-11-14', '2022-11-15', '2022-11-20', '2022-11-21', '2022-11-22', '2022-11-23', '2022-11-27', '2022-11-28', '2022-11-29', '2022-11-30', '2022-12-04', '2022-12-05', '2022-12-06', '2022-12-07', '2022-12-11', '2022-12-12', '2022-12-13', '2022-12-14', '2022-12-15', '2022-12-16', '2022-12-17', '2022-12-18', '2022-12-19', '2022-12-20', '2022-12-21', '2022-12-22', '2022-12-23', '2022-12-24', '2022-12-25', '2022-12-26', '2022-12-27', '2022-12-28', '2022-12-29', '2022-12-30', '2022-12-31', '2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08', '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12', '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-20', '2023-01-21', '2023-01-22', '2023-01-24', '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28', '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-05', '2023-02-06', '2023-02-08', '2023-02-09', '2023-02-10', '2023-02-11', '2023-02-12', '2023-02-13', '2023-02-14', '2023-02-15', '2023-02-16', '2023-02-17', '2023-02-18', '2023-02-19', '2023-02-20', '2023-02-21', '2023-02-22', '2023-02-23', '2023-02-24', '2023-02-25', '2023-02-26', '2023-02-27', '2023-02-28', '2023-03-01', '2023-03-02', '2023-03-03', '2023-03-04', '2023-03-05', '2023-03-06', '2023-03-07', '2023-03-08', '2023-03-09', '2023-03-10', '2023-03-11', '2023-03-12', '2023-03-13', '2023-03-14', '2023-03-15', '2023-03-16', '2023-03-17', '2023-03-18', '2023-03-19', '2023-03-20', '2023-03-21', '2023-03-22', '2023-03-23', '2023-03-24', '2023-03-25', '2023-03-26', '2023-03-27', '2023-03-28', '2023-03-29', '2023-03-30', '2023-03-31', '2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04', '2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08', '2023-04-09', '2023-04-10', '2023-04-11', '2023-04-12', '2023-04-13', '2023-04-14', '2023-04-15', '2023-04-16', '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20', '2023-04-21', '2023-04-22', '2023-04-23', '2023-04-24', '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28', '2023-04-29', '2023-04-30', '2023-05-01', '2023-05-02', '2023-05-03', '2023-05-04', '2023-05-05', '2023-05-06', '2023-05-07', '2023-05-08', '2023-05-09', '2023-05-10', '2023-05-11', '2023-05-12', '2023-05-13', '2023-05-14', '2023-05-15', '2023-05-16', '2023-05-17', '2023-05-18', '2023-05-19', '2023-05-20', '2023-05-21', '2023-05-22', '2023-05-23', '2023-05-24', '2023-05-25', '2023-05-26', '2023-05-27', '2023-05-28', '2023-05-29', '2023-05-30', '2023-05-31', '2023-06-01', '2023-06-02', '2023-06-03', '2023-06-04', '2023-06-05', '2023-06-06', '2023-06-07', '2023-06-08', '2023-06-09', '2023-06-10', '2023-06-11', '2023-06-12', '2023-06-13', '2023-06-14', '2023-06-15', '2023-06-16', '2023-06-17', '2023-06-18', '2023-06-19', '2023-06-20', '2023-06-21', '2023-06-22', '2023-06-23', '2023-06-24', '2023-06-25', '2023-06-26', '2023-06-27', '2023-06-28', '2023-06-29', '2023-06-30', '2023-07-01', '2023-07-02', '2023-07-03', '2023-07-04', '2023-07-05', '2023-07-06', '2023-07-13', '2023-07-14', '2023-07-15', '2023-07-16', '2023-07-17', '2023-07-18', '2023-07-19', '2023-07-20', '2023-07-21', '2023-07-22', '2023-07-23', '2023-07-24', '2023-09-11', '2023-09-12', '2023-09-13', '2023-09-14', '2023-09-15', '2023-09-16', '2023-09-17', '2023-10-01', '2023-10-02', '2023-10-03', '2023-10-06', '2023-10-07', '2023-10-08', '2023-10-09', '2023-10-10', '2023-10-11', '2023-10-13', '2023-10-14', '2023-10-15', '2023-10-17', '2023-10-18', '2023-10-20', '2023-10-21', '2023-10-22', '2023-10-23', '2023-10-27', '2023-10-31', '2023-11-01', '2023-11-02', '2023-11-03', '2023-11-05', '2023-11-07', '2023-11-10', '2023-11-11', '2023-11-12', '2023-11-13', '2023-11-15', '2023-11-16', '2023-11-17', '2023-11-18', '2023-11-19', '2023-11-20', '2023-11-21', '2023-11-22', '2023-11-23', '2023-11-24', '2023-11-25', '2023-11-26', '2023-11-27', '2023-11-28', '2023-11-30', '2023-12-01', '2023-12-02', '2023-12-03', '2023-12-05', '2023-12-08', '2023-12-09', '2023-12-16', '2023-12-22', '2023-12-23', '2023-12-24', '2023-12-25', '2024-01-06', '2024-01-14', '2024-01-19', '2024-01-20', '2024-01-21', '2024-01-22', '2024-01-23', '2024-01-24', '2024-01-25', '2024-01-26', '2024-01-27', '2024-01-28', '2024-01-29', '2024-01-30', '2024-02-07', '2024-02-08', '2024-02-09', '2024-02-10', '2024-02-11', '2024-02-12', '2024-02-15', '2024-02-16', '2024-02-17', '2024-02-18', '2024-02-19', '2024-02-20', '2024-02-25', '2024-02-29', '2024-03-01', '2024-03-02', '2024-03-03', '2024-03-09', '2024-03-10', '2024-03-12', '2024-03-16', '2024-03-17', '2024-03-19', '2024-04-13', '2024-04-20', '2024-04-21', '2024-04-26', '2024-04-27', '2024-04-29', '2024-05-03', '2024-05-08', '2024-05-09', '2024-05-10', '2024-05-11', '2024-05-12', '2024-05-13', '2024-05-14', '2024-05-15', '2024-05-16', '2024-05-17', '2024-05-18', '2024-05-19', '2024-05-20', '2024-05-21', '2024-05-22', '2024-05-23', '2024-05-24', '2024-05-25', '2024-05-26', '2024-05-27', '2024-05-28', '2024-05-29', '2024-05-30', '2024-05-31', '2024-06-01', '2024-06-02', '2024-06-03', '2024-06-04', '2024-06-05', '2024-06-06', '2024-06-07', '2024-06-08', '2024-06-09', '2024-06-10', '2024-06-11', '2024-06-12', '2024-06-13', '2024-06-14', '2024-06-15', '2024-06-16', '2024-06-17', '2024-06-18', '2024-06-19', '2024-06-20', '2024-06-21', '2024-06-22', '2024-06-23', '2024-06-24', '2024-06-25', '2024-06-26', '2024-06-27', '2024-06-28', '2024-06-29', '2024-06-30', '2024-07-01', '2024-07-02', '2024-07-03', '2024-07-04', '2024-07-05', '2024-07-06', '2024-07-07', '2024-07-08', '2024-07-09', '2024-07-10', '2024-07-11', '2024-07-12', '2024-07-13', '2024-07-14', '2024-07-15', '2024-07-16', '2024-07-17', '2024-07-18', '2024-07-19', '2024-07-20', '2024-07-21', '2024-07-22', '2024-07-23', '2024-07-24', '2024-07-25', '2024-07-26', '2024-07-27', '2024-07-28', '2024-07-29', '2024-07-30', '2024-07-31', '2024-08-01', '2024-08-02', '2024-08-03', '2024-08-04', '2024-08-05', '2024-08-06', '2024-08-07', '2024-08-08', '2024-08-09', '2024-08-10', '2024-08-11', '2024-08-12', '2024-08-13', '2024-08-14', '2024-08-15', '2024-08-16', '2024-08-17', '2024-08-18', '2024-08-19', '2024-08-20', '2024-08-21', '2024-08-22', '2024-08-23', '2024-08-24', '2024-08-25', '2024-08-26', '2024-08-27', '2024-08-28', '2024-08-29', '2024-08-30', '2024-08-31', '2024-09-01', '2024-09-02', '2024-09-03', '2024-09-04', '2024-09-05', '2024-09-06', '2024-09-07', '2024-09-08', '2024-09-09', '2024-09-10', '2024-09-12', '2024-09-15', '2024-09-16', '2024-09-17', '2024-09-18', '2024-09-19', '2024-09-20', '2024-09-21', '2024-09-22', '2024-09-23', '2024-09-25', '2024-09-26', '2024-10-01', '2024-10-02', '2024-10-03', '2024-10-04', '2024-10-05', '2024-10-06', '2024-10-07', '2024-10-08', '2024-10-09', '2024-10-16', '2024-10-17', '2024-10-18', '2024-10-19', '2024-10-20', '2024-10-21', '2024-10-22', '2024-10-23', '2024-10-24', '2024-10-25', '2024-10-26', '2024-10-27', '2024-10-28', '2024-10-29', '2024-10-30', '2024-10-31', '2024-11-01', '2024-11-02', '2024-11-03', '2024-11-04', '2024-11-05', '2024-11-07', '2024-11-08', '2024-11-10', '2024-11-17', '2024-11-20', '2024-11-27', '2024-11-29', '2024-12-02', '2024-12-03', '2024-12-05', '2024-12-07', '2024-12-08', '2024-12-13', '2024-12-14', '2024-12-15', '2024-12-17', '2024-12-18', '2024-12-20', '2024-12-21', '2024-12-24', '2024-12-25', '2024-12-28', '2025-01-02', '2025-01-04', '2025-01-05', '2025-01-06', '2025-01-09', '2025-01-11', '2025-01-13', '2025-01-15', '2025-01-16', '2025-01-17', '2025-01-18', '2025-01-19', '2025-01-20', '2025-01-21', '2025-01-25', '2025-01-28', '2025-01-30', '2025-02-02', '2025-02-06', '2025-02-09', '2025-02-17', '2025-02-18', '2025-02-23', '2025-03-01', '2025-03-02', '2025-03-03', '2025-03-08', '2025-03-13', '2025-03-15', '2025-03-19', '2025-03-21', '2025-03-23', '2025-03-25', '2025-03-30', '2025-04-05', '2025-04-06', '2025-04-07', '2025-04-08']
<class 'str'>

In [30]:
print(df['조회일'].iloc[100])

['2022-08-30', '2022-08-31', '2022-09-01', '2022-09-02', '2022-09-05', '2022-09-06', '2022-09-07', '2022-09-08', '2022-09-09', '2022-09-10', '2022-09-11', '2022-09-12', '2022-09-13', '2022-09-14', '2022-09-15', '2022-09-16', '2022-09-17', '2022-09-18', '2022-09-19', '2022-09-20', '2022-09-21', '2022-09-22', '2022-09-23', '2022-09-24', '2022-09-25', '2022-09-26', '2022-09-27', '2022-09-28', '2022-09-29', '2022-09-30', '2022-10-01', '2022-10-02', '2022-10-03', '2022-10-04', '2022-10-05', '2022-10-06', '2022-10-07', '2022-10-08', '2022-10-09', '2022-10-10', '2022-10-11', '2022-10-12', '2022-10-13', '2022-10-14', '2022-10-15', '2022-10-16', '2022-10-17', '2022-10-18', '2022-10-19', '2022-10-20', '2022-10-21', '2022-10-22', '2022-10-23', '2022-10-24', '2022-10-25', '2022-10-26', '2022-10-27', '2022-10-28', '2022-10-29', '2022-10-30', '2022-10-31', '2022-11-01', '2022-11-02', '2022-11-03', '2022-11-04', '2022-11-05', '2022-11-06', '2022-11-07', '2022-11-08', '2022-11-09', '2022-11-10', '2022-11-11', '2022-11-12', '2022-11-13', '2022-11-14', '2022-11-15', '2022-11-16', '2022-11-17', '2022-11-18', '2022-11-19', '2022-11-20', '2022-11-21', '2022-11-22', '2022-11-25', '2022-11-26', '2022-11-27', '2022-11-29', '2023-01-27']

In [29]:
df

,영화명,개봉일,장르,국적,감독,배급사,대표국적,등급,제작사,배우,...,총매출액,매출액(점유율),매출액증감,매출액증감율(전일대비),관객수,관객수증감(전일대비),관객수증감율(전일대비),스크린수,상영횟수,상영일수
0,너의 이름은.,2017-01-04,"애니메이션,드라마,멜로/로맨스",일본,신카이 마코토,메가박스중앙(주) 플러스엠 엔터테인먼트,일본,12세이상관람가,NaN,"카미키 류노스케,카미시라이시 모네,나가사와 마사미,이치하라 에수코,유키 아오이,시마...",...,715307850,"[0.001, 0.001, 0.002, 0.002, 0.002, 0.001, 0.0...","[-315480, 170980, -45900, -5000, 43500, -16602...","[-0.794, 2.087, -0.181, -0.024, 0.215, -0.676,...","[17, 50, 40, 38, 47, 17, 52, 8, 17, 18, 12, 25...","[-60, 33, -10, -2, 9, -30, 35, -44, 9, 1, -6, ...","[-0.779, 1.941, -0.2, -0.05, 0.237, -0.638, 2....","[3, 3, 3, 3, 3, 2, 3, 2, 2, 2, 2, 2, 2, 2, 1, ...","[3, 4, 3, 3, 3, 2, 4, 2, 2, 2, 2, 2, 2, 2, 1, ...",856
1,날씨의 아이,2019-10-30,"애니메이션,판타지,멜로/로맨스",일본,신카이 마코토,"메가박스중앙(주) 플러스엠 엔터테인먼트,(주)미디어캐슬,워터홀컴퍼니(주)",일본,15세이상관람가,NaN,"다이고 코타로,모리 나나,오구리 슌,심규혁,최한,강은애,김서영",...,528367830,"[0.003, 0.0069999999999999, 0.0069999999999999...","[-574700, 990040, -555540, 6220, 178460, -5874...","[-0.592, 2.495, -0.401, 0.007, 0.213, -0.578, ...","[77, 266, 162, 162, 197, 81, 218, 69, 38, 56, ...","[-114, 189, -104, 0, 35, -116, 137, -149, -31,...","[-0.597, 2.455, -0.391, 0.0, 0.216, -0.589, 1....","[9, 11, 11, 11, 9, 11, 11, 6, 5, 6, 5, 6, 4, 4...","[11, 15, 15, 14, 12, 14, 12, 8, 6, 8, 6, 8, 6,...",791
2,더 퍼스트 슬램덩크,2023-01-04,애니메이션,일본,이노우에 다케히코,(주)넥스트엔터테인먼트월드(NEW),일본,12세이상관람가,NaN,NaN,...,17437875420,"[0.0, 0.006, 0.0279999999999999, 0.004, 0.005,...","[540000, 6426000, 25245000, -24891000, -273000...","[1.0, 1.0, 3.929, -0.786, -0.403, 1.0, -0.34, ...","[60, 378, 3183, 731, 450, 21004, 13780, 19400,...","[60, 378, 2805, -2452, -281, 21004, -7224, 562...","[1.0, 1.0, 7.421, -0.77, -0.384, 1.0, -0.344, ...","[1, 1, 11, 3, 3, 149, 148, 152, 208, 195, 164,...","[2, 1, 11, 3, 3, 383, 381, 410, 528, 517, 478,...",677
3,라라랜드,2016-12-07,"드라마,뮤지컬,멜로/로맨스",미국,데이미언 셔젤,판씨네마(주),미국,12세이상관람가,NaN,"엠마 스톤,라이언 고슬링,핀 위트록,J.K. 시몬스,로즈마리 드윗",...,430232446,"[0.034, 0.051, 0.052, 0.05, 0.052, 0.059, 0.04...","[-105520, 5168160, -3911020, -100540, -207920,...","[-0.021, 1.045, -0.387, -0.016, -0.034, -0.267...","[950, 1936, 1162, 1171, 1146, 851, 1441, 381, ...","[-12, 986, -774, 9, -25, -295, 590, -1060, -96...","[-0.012, 1.038, -0.4, 0.008, -0.021, -0.257, 0...","[66, 67, 71, 69, 66, 63, 65, 48, 41, 41, 51, 4...","[104, 116, 109, 102, 98, 95, 100, 66, 53, 55, ...",489
4,극장판 주술회전 0,2022-02-17,애니메이션,일본,박성후,"(주)바이포엠스튜디오,(주)대교 미디어콘텐츠사업본부",일본,15세이상관람가,NaN,"오가타 메구미,하나자와 카나,코마츠 미카코,우치야마 코우키,세키 토모카즈,나카무라 ...",...,2251753466,"[0.016, 0.034, 0.027, 0.022, 0.36, 0.248, 0.18...","[2976500, 6555000, 5656700, -3616200, 12132494...","[1.0, 1.0, 0.863, -0.296, 1.0, -0.386, 0.451, ...","[244, 437, 1067, 787, 12139, 6612, 9590, 8692,...","[244, 437, 630, -280, 12139, -5527, 2978, -898...","[1.0, 1.0, 1.442, -0.262, 1.0, -0.455, 0.45, -...","[1, 1, 17, 11, 115, 91, 98, 103, 143, 146, 134...","[1, 1, 17, 11, 461, 383, 428, 432, 513, 482, 4...",464
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6645,음란 며느리의 젖몸살,2021-06-14,멜로/로맨스,일본,아나콘다 아나키,(주)라온컴퍼니플러스,일본,청소년관람불가,NaN,NaN,...,300000,[0.002],[300000],[1.0],[60],[60],[1.0],[1],[1],1
6646,음란 며느리의 젖몸살 무삭제판,2021-08-26,멜로/로맨스,일본,아나콘다 아나키,(주)라온컴퍼니플러스,일본,청소년관람불가,NaN,NaN,...,300000,[0.001],[300000],[1.0],[60],[60],[1.0],[1],[1],1
6647,음란전쟁,2021-10-06,멜로/로맨스,한국,이동현,(주)케이알씨지,한국,청소년관람불가,(주)디에이치미디어,NaN,...,2000,[0.0],[2000],[1.0],[1],[1],[1.0],[1],[1],1
6648,음란한 두 자매,2021-04-22,멜로/로맨스,한국,알렉사 박,케이엘 픽쳐스,한국,청소년관람불가,케이엘 픽쳐스,NaN,...,2000,[0.0],[2000],[1.0],[1],[1],[1.0],[1],[1],1
6649,2023 CJ도너스캠프 청소년 문화동아리 SHOWCASE- 음악부문,NaN,기타,한국,NaN,NaN,한국,NaN,NaN,NaN,...,3078000,[0.002],[3078000],[1.0],[210],[210],[1.0],[1],[1],1

In [ ]:
import pandas as pd

def get_year_month(date_str):
    """
    'YYYY-MM-DD' 형태의 문자열을 받아서 (연도, 월) 튜플로 반환.
    """
    dt = pd.to_datetime(date_str)
    return dt.year, dt.month

# ── 3. 메트릭 컬럼 리스트 정의 ─────────────────────────────────────────────
metrics = [
    '상영영화수',
    '영화관람객수',
    '지출금액',
    '인구당영화관람객수',
    '영화관람객수점수',
    '지출금액점수',
    '종합점수',
    '기준상영영화수',
    '기준영화관람객수',
    '기준지출금액'
]

# ── 4. 조회일(날짜 리스트)을 인자로 받아서, 각 날짜별로 filtered_df에서 메트릭 값을 추출해 딕셔너리로 반환 ───────
def extract_metrics_for_dates(date_list, filtered_df):
    # 결과를 담을 딕셔너리 초기화
    result = {metric: [] for metric in metrics}

    for date_str in date_list:
        year, month = get_year_month(date_str)

        # filtered_df에서 해당 연도, 월을 가진 행 찾기
        matched = filtered_df[
            (filtered_df['BASE_YEAR'] == year) &
            (filtered_df['BASE_MT'] == month)
        ]

        if not matched.empty:
            # 첫 번째(유일하다고 가정) 행에서 각 metric 값을 꺼내어 리스트에 추가
            row = matched.iloc[0]
            for metric in metrics:
                result[metric].append(row[metric])
        else:
            # 해당 연월이 없으면 None 또는 NaN을 추가
            for metric in metrics:
                result[metric].append(None)

    return result

# ── 5. df에 새로운 컬럼(각 메트릭 + "_리스트" 형태) 추가 ──────────────────────────
for metric in metrics:
    df[f"{metric}"] = df['조회일'].apply(
        lambda date_list: extract_metrics_for_dates(date_list, filtered_df)[metric]
    )

In [33]:
# 1) metrics 리스트가 이전과 동일하게 정의되어 있어야 합니다.
metrics = [
    '상영영화수',
    '영화관람객수',
    '지출금액',
    '인구당영화관람객수',
    '영화관람객수점수',
    '지출금액점수',
    '종합점수',
    '기준상영영화수',
    '기준영화관람객수',
    '기준지출금액'
]

# 2) 각 metric+"_리스트" → metric 으로 매핑 딕셔너리 생성
rename_map = {f"{metric}_리스트": metric for metric in metrics}

# 3) rename 수행 (inplace=True 로 원본 df 컬럼명 변경)
df.rename(columns=rename_map, inplace=True)

# 4) 최종 컬럼명 확인
print(df.columns.tolist())

['영화명', '개봉일', '장르', '국적', '감독', '배급사', '대표국적', '등급', '제작사', '배우', '누적관객수', '조회일', '순위', '매출액', '총매출액', '매출액(점유율)', '매출액증감', '매출액증감율(전일대비)', '관객수', '관객수증감(전일대비)', '관객수증감율(전일대비)', '스크린수', '상영횟수', '상영일수', '상영영화수', '영화관람객수', '지출금액', '인구당영화관람객수', '영화관람객수점수', '지출금액점수', '종합점수', '기준상영영화수', '기준영화관람객수', '기준지출금액']

In [34]:
# 1) metrics 리스트를 그대로 사용
metrics = [
    '상영영화수',
    '영화관람객수',
    '지출금액',
    '인구당영화관람객수',
    '영화관람객수점수',
    '지출금액점수',
    '종합점수',
    '기준상영영화수',
    '기준영화관람객수',
    '기준지출금액'
]

# 2) 'metric' → '서울_metric' 형태로 매핑 딕셔너리 생성
rename_map = {metric: f"서울_{metric}" for metric in metrics}

# 3) df.rename() 으로 한 번에 컬럼명 변경 (inplace=True 로 원본 변경)
df.rename(columns=rename_map, inplace=True)

# 4) 최종 컬럼명 확인
print(df.columns.tolist())

['영화명', '개봉일', '장르', '국적', '감독', '배급사', '대표국적', '등급', '제작사', '배우', '누적관객수', '조회일', '순위', '매출액', '총매출액', '매출액(점유율)', '매출액증감', '매출액증감율(전일대비)', '관객수', '관객수증감(전일대비)', '관객수증감율(전일대비)', '스크린수', '상영횟수', '상영일수', '서울_상영영화수', '서울_영화관람객수', '서울_지출금액', '서울_인구당영화관람객수', '서울_영화관람객수점수', '서울_지출금액점수', '서울_종합점수', '서울_기준상영영화수', '서울_기준영화관람객수', '서울_기준지출금액']

In [40]:
import pandas as pd
import numpy as np

# 예시: 이미 '서울_'로 시작하는 리스트 타입의 컬럼이 있다고 가정
# df['서울_상영영화수'] = [[np.float64(327.0), None, np.nan, np.float64(312.0)], ...]
# df['서울_영화관람객수'] = [[np.float64(1200.0), np.float64(1250.0), None], ...]


for col in df.columns:
    if col.startswith("서울_"):
        df[col] = df[col].apply(
            lambda x: [
                float(v) if (v is not None and not pd.isna(v)) else None
                for v in x
            ] if isinstance(x, list) else x
        )

# 변환 결과 확인
print(df["서울_상영영화수"].iloc[0])

[327.0, 327.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 283.0, 283.0, 283.0, 283.0, 283.0, 283.0, 283.0, 283.0, 283.0, 283.0, 283.0, 283.0, 283.0, 283.0, 283.0, 283.0, 283.0, 381.0, 381.0, 381.0, 381.0, 381.0, 381.0, 381.0, 381.0, 381.0, 381.0, 381.0, 381.0, 275.0, 275.0, 275.0, 275.0, 275.0, 275.0, 275.0, 275.0, 275.0, 275.0, 275.0, 275.0, 275.0, 275.0, 275.0, 275.0, 275.0, 275.0, 275.0, 274.0, 274.0, 274.0, 274.0, 274.0, 274.0, 274.0, 274.0, 274.0, 274.0, 274.0, 274.0, 274.0, 274.0, 274.0, 274.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 312.0, 366.0, 366.0, 366.0, 366.0, 366.0, 366.0, 366.0, 366.0, 366.0, 313.0, 313.0, 313.0, 313.0, 313.0, 313.0, 313.0, 313.0, 313.0, 313.0, 272.0, 272.0, 272.0, 272.0, 272.0, 272.0, 272.0, 272.0, 280.0, 280.0, 280.0, 280.0, 280.0, 280.0, 280.0, 280.0, 280.0, 280.0, 280.0, 280.0, 280.0, 280.0, 280.0, 280.0, 259.0, 259.0, 259.0, 259.0, 259.0, 259.0, 259.0, 259.0, 259.0, 259.0, 282.0, 282.0, 282.0, 282.0, 282.0, 282.0, 282.0, 282.0, 282.0, 282.0, 282.0, 282.0, 282.0, 282.0, 282.0, 282.0, 282.0, 282.0, 282.0, 282.0, 282.0, 282.0, 282.0, 282.0, 231.0, 231.0, 231.0, 231.0, 231.0, 231.0, 231.0, 231.0, 231.0, 231.0, 231.0, 231.0, 231.0, 231.0, 231.0, 231.0, 231.0, 231.0, 231.0, 231.0, 231.0, 231.0, 231.0, 231.0, 231.0, 340.0, 340.0, 340.0, 340.0, 340.0, 340.0, 340.0, 340.0, 293.0, 293.0, 293.0, 293.0, 293.0, 256.0, 256.0, 256.0, 256.0, 256.0, 256.0, 256.0, 256.0, 256.0, 256.0, 256.0, 256.0, 256.0, 256.0, 246.0, 246.0, 246.0, 246.0, 246.0, 246.0, 246.0, 246.0, 246.0, 246.0, 246.0, 246.0, 246.0, 246.0, 246.0, 246.0, 206.0, 206.0, 206.0, 206.0, 206.0, 206.0, 263.0, 263.0, 263.0, 263.0, 263.0, 263.0, 263.0, 263.0, 263.0, 263.0, 263.0, 263.0, 263.0, 263.0, 263.0, 263.0, 263.0, 263.0, 273.0, 273.0, 273.0, 273.0, 273.0, 273.0, 273.0, 273.0, 273.0, 273.0, 273.0, 273.0, 273.0, 273.0, 273.0, 273.0, 273.0, 273.0, 273.0, 289.0, 289.0, 289.0, 289.0, 289.0, 289.0, 289.0, 289.0, 289.0, 289.0, 289.0, 289.0, 289.0, 289.0, 289.0, 289.0, 289.0, 289.0, 289.0, 289.0, 289.0, 289.0, 289.0, 289.0, 289.0, 186.0, 186.0, 186.0, 186.0, 186.0, 186.0, 186.0, 186.0, 186.0, 186.0, 186.0, 186.0, 186.0, 186.0, 186.0, 186.0, 186.0, 186.0, 186.0, 186.0, 186.0, 186.0, 186.0, 186.0, 186.0, 186.0, 191.0, 191.0, 191.0, 191.0, 191.0, 191.0, 191.0, 191.0, 191.0, 191.0, 191.0, 191.0, 191.0, 191.0, 191.0, 191.0, 191.0, 191.0, 191.0, 191.0, 191.0, 191.0, 191.0, 205.0, 205.0, 205.0, 205.0, 205.0, 205.0, 205.0, 205.0, 205.0, 205.0, 205.0, 205.0, 205.0, 205.0, 205.0, 205.0, 205.0, 205.0, 205.0, 205.0, 205.0, 205.0, 205.0, 205.0, 205.0, 205.0, 205.0, 205.0, 205.0, 205.0, 205.0, 229.0, 229.0, 229.0, 229.0, 229.0, 229.0, 229.0, 229.0, 229.0, 229.0, 229.0, 229.0, 229.0, 229.0, 229.0, 229.0, 229.0, 229.0, 229.0, 229.0, 229.0, 229.0, 229.0, 229.0, 229.0, 229.0, 229.0, 229.0, 229.0, 229.0, 239.0, 239.0, 239.0, 239.0, 239.0, 239.0, 239.0, 239.0, 239.0, 239.0, 239.0, 239.0, 239.0, 239.0, 239.0, 239.0, 239.0, 239.0, 239.0, 239.0, 239.0, 239.0, 239.0, 239.0, 239.0, 239.0, 239.0, 239.0, 239.0, 239.0, 239.0, 208.0, 208.0, 208.0, 208.0, 208.0, 208.0, 208.0, 208.0, 208.0, 208.0, 208.0, 208.0, 208.0, 208.0, 208.0, 208.0, 208.0, 208.0, 208.0, 208.0, 208.0, 208.0, 208.0, 208.0, 208.0, 208.0, 208.0, 208.0, 208.0, 208.0, 213.0, 213.0, 213.0, 213.0, 213.0, 213.0, 213.0, 213.0, 213.0, 213.0, 213.0, 213.0, 213.0, 213.0, 213.0, 213.0, 213.0, 213.0, 250.0, 250.0, 250.0, 250.0, 250.0, 250.0, 250.0, 247.0, 247.0, 247.0, 247.0, 247.0, 247.0, 247.0, 247.0, 247.0, 247.0, 247.0, 247.0, 247.0, 247.0, 247.0, 247.0, 247.0, 247.0, 247.0, 247.0, 271.0, 271.0, 271.0, 271.0, 271.0, 271.0, 271.0, 271.0, 271.0, 271.0, 271.0, 271.0, 271.0, 271.0, 271.0, 271.0, 271.0, 271.0, 271.0, 271.0, 271.0, 271.0, 271.0, 271.0, 246.0, 246.0, 246.0, 246.0, 246.0, 246.0, 246.0, 246.0, 246.0, 246.0, 246.0, 196.0, 196.0, 196.0, 196.0, 196.0, 196.0, 196.0, 196.0, 196.0, 196.0, 196.0, 196.0, 196.0, 196.0, 188.0, 188.0, 188.0, 188.0, 188.0, 188.0, 188.0, 188.0, 188.0, 188.0, 188.0, 188.0, 188.0, 188.0, 223.0, 223.0, 223.0, 223.0, 223.0, 223.0, 223.0, 223.0, 223.0, 229.0, 229.0, 229.0, 229.0, 229.0, 229.0, 198.0, 198.0, 198.0, 198.0, 198.0, 198.0, 198.0, 198.0, 198.0, 198.0, 198.0, 198.0, 198.0, 198.0, 198.0, 198.0, 198.0, 198.0, 198.0, 198.0, 198.0, 198.0, 198.0, 198.0, 198.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]

In [41]:
df

,영화명,개봉일,장르,국적,감독,배급사,대표국적,등급,제작사,배우,...,서울_상영영화수,서울_영화관람객수,서울_지출금액,서울_인구당영화관람객수,서울_영화관람객수점수,서울_지출금액점수,서울_종합점수,서울_기준상영영화수,서울_기준영화관람객수,서울_기준지출금액
0,너의 이름은.,2017-01-04,"애니메이션,드라마,멜로/로맨스",일본,신카이 마코토,메가박스중앙(주) 플러스엠 엔터테인먼트,일본,12세이상관람가,NaN,"카미키 류노스케,카미시라이시 모네,나가사와 마사미,이치하라 에수코,유키 아오이,시마...",...,"[327.0, 327.0, 312.0, 312.0, 312.0, 312.0, 312...","[394130.0, 394130.0, 527998.0, 527998.0, 52799...","[3054905400.0, 3054905400.0, 4399015700.0, 439...","[40.52006, 40.52006, 54.29567, 54.29567, 54.29...","[15.93595, 15.93595, 21.35369, 21.35369, 21.35...","[11.657, 11.657, 16.78986, 16.78986, 16.78986,...","[13.79647, 13.79647, 19.07177, 19.07177, 19.07...","[234.58333, 234.58333, 234.58333, 234.58333, 2...","[2410351.25, 2410351.25, 2410351.25, 2410351.2...","[25540506805.66667, 25540506805.66667, 2554050..."
1,날씨의 아이,2019-10-30,"애니메이션,판타지,멜로/로맨스",일본,신카이 마코토,"메가박스중앙(주) 플러스엠 엔터테인먼트,(주)미디어캐슬,워터홀컴퍼니(주)",일본,15세이상관람가,NaN,"다이고 코타로,모리 나나,오구리 슌,심규혁,최한,강은애,김서영",...,"[327.0, 327.0, 312.0, 312.0, 312.0, 312.0, 312...","[394130.0, 394130.0, 527998.0, 527998.0, 52799...","[3054905400.0, 3054905400.0, 4399015700.0, 439...","[40.52006, 40.52006, 54.29567, 54.29567, 54.29...","[15.93595, 15.93595, 21.35369, 21.35369, 21.35...","[11.657, 11.657, 16.78986, 16.78986, 16.78986,...","[13.79647, 13.79647, 19.07177, 19.07177, 19.07...","[234.58333, 234.58333, 234.58333, 234.58333, 2...","[2410351.25, 2410351.25, 2410351.25, 2410351.2...","[25540506805.66667, 25540506805.66667, 2554050..."
2,더 퍼스트 슬램덩크,2023-01-04,애니메이션,일본,이노우에 다케히코,(주)넥스트엔터테인먼트월드(NEW),일본,12세이상관람가,NaN,NaN,...,"[289.0, 289.0, 289.0, 289.0, 186.0, 186.0, 186...","[3484968.0, 3484968.0, 3484968.0, 3484968.0, 2...","[40127657076.0, 40127657076.0, 40127657076.0, ...","[369.62564, 369.62564, 369.62564, 369.62564, 3...","[145.36834, 145.36834, 145.36834, 145.36834, 1...","[157.96674, 157.96674, 157.96674, 157.96674, 1...","[151.66754, 151.66754, 151.66754, 151.66754, 1...","[234.58333, 234.58333, 234.58333, 234.58333, 2...","[2410351.25, 2410351.25, 2410351.25, 2410351.2...","[25540506805.66667, 25540506805.66667, 2554050..."
3,라라랜드,2016-12-07,"드라마,뮤지컬,멜로/로맨스",미국,데이미언 셔젤,판씨네마(주),미국,12세이상관람가,NaN,"엠마 스톤,라이언 고슬링,핀 위트록,J.K. 시몬스,로즈마리 드윗",...,"[327.0, 327.0, 312.0, 312.0, 312.0, 312.0, 312...","[394130.0, 394130.0, 527998.0, 527998.0, 52799...","[3054905400.0, 3054905400.0, 4399015700.0, 439...","[40.52006, 40.52006, 54.29567, 54.29567, 54.29...","[15.93595, 15.93595, 21.35369, 21.35369, 21.35...","[11.657, 11.657, 16.78986, 16.78986, 16.78986,...","[13.79647, 13.79647, 19.07177, 19.07177, 19.07...","[234.58333, 234.58333, 234.58333, 234.58333, 2...","[2410351.25, 2410351.25, 2410351.25, 2410351.2...","[25540506805.66667, 25540506805.66667, 2554050..."
4,극장판 주술회전 0,2022-02-17,애니메이션,일본,박성후,"(주)바이포엠스튜디오,(주)대교 미디어콘텐츠사업본부",일본,15세이상관람가,NaN,"오가타 메구미,하나자와 카나,코마츠 미카코,우치야마 코우키,세키 토모카즈,나카무라 ...",...,"[200.0, 200.0, 200.0, 200.0, 200.0, 200.0, 200...","[1009945.0, 1009945.0, 1009945.0, 1009945.0, 1...","[9599953020.0, 9599953020.0, 9599953020.0, 959...","[106.21551, 106.21551, 106.21551, 106.21551, 1...","[41.773, 41.773, 41.773, 41.773, 41.773, 41.77...","[37.47295, 37.47295, 37.47295, 37.47295, 37.47...","[39.62298, 39.62298, 39.62298, 39.62298, 39.62...","[234.58333, 234.58333, 234.58333, 234.58333, 2...","[2410351.25, 2410351.25, 2410351.25, 2410351.2...","[25540506805.66667, 25540506805.66667, 2554050..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6645,음란 며느리의 젖몸살,2021-06-14,멜로/로맨스,일본,아나콘다 아나키,(주)라온컴퍼니플러스,일본,청소년관람불가,NaN,NaN,...,[272.0],[1435887.0],[13844462620.0],[150.10333],[59.03344],[53.71613],[56.37479],[234.58333],[2410351.25],[25540506805.66667]
6646,음란 며느리의 젖몸살 무삭제판,2021-08-26,멜로/로맨스,일본,아나콘다 아나키,(주)라온컴퍼니플러스,일본,청소년관람불가,NaN,NaN,...,[259.0],[1900023.0],[18333416000.0],[198.95056],[78.24433],[71.25056],[74.74745],[234.58333],[2410351.25],[25540506805.66667]
6647,음란전쟁,2021-10-06,멜로/로맨스,한국,이동현,(주)케이알씨지,한국,청소년관람불가,(주)디에이치미디어,NaN,...,[231.0],[1487988.0],[14760470820.0],[156.09748],[61.39085],[57.47186],[59.43135],[234.58333],[2410351.25],[25540506805.66667]
6648,음란한 두 자매,2021-04-22,멜로/로맨스,한국,알렉사 박,케이엘 픽쳐스,한국,청소년관람불가,케이엘 픽쳐스,NaN,...,[366.0],[803073.0],[7343839770.0],[83.75192],[32.9384],[28.42638],[30.68239],[234.58333],[2410351.25],[25540506805.66667]
6649,2023 CJ도너스캠프 청소년 문화동아리 SHOWCASE- 음악부문,NaN,기타,한국,NaN,NaN,한국,NaN,NaN,NaN,...,[186.0],[2912634.0],[33405701229.0],[309.03695],[121.5397],[131.55388],[126.54679],[234.58333],[2410351.25],[25540506805.66667]

In [42]:
df.to_csv("data.csv", index=False, encoding="utf-8-sig")